

.button {
    -fx-padding: 2 11 2 11;   
    -fx-border-color: #FFEBCD;
    -fx-border-width: 3;
    -fx-background-radius: 6;
    -fx-background-color: #3CB371;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #FFEBCD;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.radio-button
{
    -fx-text-fill: blanchedalmond;
}

.root {
     -fx-background-color:mediumseagreen;
}

.label
{
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: blanchedalmond;
    -fx-opacity: 1;   
}

.vbox
{
    -fx-border-color: #3CB371;
    -fx-border-insets: 10; 
    -fx-border-width: 3;
    -fx-background-color:mediumseagreen;
    -fx-alignment: center ;
    -fx-padding: 10 ;
    -fx-spacing: 10;
}

.textArea
{
    -fx-background-color:  white;
    -fx-text-fill: red;
}

#mojTF
{
    -fx-text-fill: red;
    -fx-min-width: 50;
    -fx-alignment: center ;
    -fx-padding: 10 ;
    -fx-spacing: 20;
}

#mojGrid
{
    -fx-alignment: center ;
    -fx-padding: 10 ;
    -fx-spacing: 20;
    -fx-border-color: #3CB371;
    -fx-border-insets: 10; 
    -fx-border-width: 3;
    -fx-background-color:mediumseagreen;
}

#mojaVB
{
    -fx-alignment: center ;
    -fx-padding: 10 ;
    -fx-spacing: 20;
    -fx-border-color: #3CB371;
    -fx-border-insets: 10; 
    -fx-border-width: 3;
    -fx-background-color:mediumseagreen;
}

#mojaHB
{
    -fx-alignment: center ;
    -fx-padding: 10 ;
    -fx-spacing: 20;
    -fx-border-insets: 10; 
    -fx-border-width: 3;
    -fx-background-color:mediumseagreen;
}

#malaLabela
{
    -fx-font-size: 13pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: blanchedalmond;
    -fx-opacity: 1;   
    -fx-alignment: center ;
    -fx-padding: 10 ;
    -fx-spacing: 20;   
}